<div class="col">
    <div class="flex-col" id="nameInfo">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <h1>Guy Meyer</h1>
                    <div class="align-bottom" style="margin: 1%;">M.A.Sc, B.Eng</div>
                </div>
                <!-- <div class="row">
                    <h6>A passion for creativity</h6>
                </div> -->
            </div>
            <div class="col-md-4">
                <div class="row">
                    <button type="button" class="btn btn-nameInfo" data-toggle="tooltip" data-placement="bottom" title="LinkedIn" onclick="window.location.href = 'https://www.linkedin.com/in/meyerguy/';">
                        <i class="fab fa-linkedin-in fa-lg" style="margin: 0;"></i>
                    </button>
                    <button type="button" class="btn btn-nameInfo" data-toggle="tooltip" data-placement="bottom" title="Personal Website" onclick="window.location.href = 'https://www.cas.mcmaster.ca/~meyerg/';">
                        <i class="fas fa-link fa-lg"></i>
                    </button>
                    <button type="button" class="btn btn-nameInfo" data-toggle="tooltip" data-placement="bottom" title="Github" onclick="window.location.href = 'https://github.com/theguymeyer';">
                        <i class="fab fa-github fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row links">
        <div class="col-sm-1">
            <i class="fas fa-envelope-square fa-lg"></i>
        </div>
        <div class="col-sm-11">
            <p style="margin: 0;">guymeyer1995 at gmail.com</p>
        </div>
    </div>
    <div class="row links">
        <div class="col-sm-1">
            <i class="fas fa-basketball-ball fa-lg"></i>
        </div>
        <div class=" col-sm-11">
            Favourite Sports: Basketball, Frisbee, Surfing, and Chess
        </div>
    </div>
    <div class="row links">
        <div class="col-sm-1">
            <i class="fas fa-code fa-lg"></i>
        </div>
        <div class=" col-sm-11">
            Favourite Languages: Python, Javascript, C++, and MATLAB
        </div>
    </div>
    <div class="row links">
        <div class="col-sm-1">
            <i class="fas fa-hiking fa-lg"></i>
        </div>
        <div class=" col-sm-11">
            I love to travel and always up for new adventures!
        </div>
    </div>
    <div class="row links">
        <div class="col-sm-1">
            <i class="fas fa-award fa-lg"></i>
        </div>
        <div class=" col-sm-11">
            Member of the Golden Key International Honour Society
        </div>
    </div>
    <div class="row links">
        <div class="col-sm-1">
            <i class="far fa-file fa-lg"></i>
        </div>
        <div class=" col-sm-11">
            <a href="./resume/guymeyer_resume.pdf">My Resume</a>
        </div>
    </div>
</div>
</div>