<div class="d-flex">
    <div class="row flex-fill">
        <div class="col-md-12">
            <p>
                Every year its just one door decoration, but how do we know which one will look best? I guess we'll just have to try them all. <br><br>
                Shoutout to ITB102 for the endless supply of recycled computers, cables, and sound cards (Spencer).
            </p>
            <h3>Quick Explanation:</h3>
            <p>
                The projector sat inside a strudy angled case pointed downwards and facing the door. Lightweight speakers were installed in the ceiling to play holiday music. Cables to all components were routed back through the ceiling to a controls station server (Ubuntu 18.04 LTS) with root access via SSH to all project members (meaning, remote control of the projector and speaker from anywhere).
            </p>
        </div>
    </div>
</div>
<div class="row" style="margin: 5%;">
    <div class="row" style="margin: 1%; text-align: center;">
        <div class="col-md-6">
            <h4>The Door:</h4>
            <video width="320" height="240" controls>
                <source src="./res/christmas_door/display_full.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <h6>src: Eric Lesiuta</h6>
        </div>
        <div class="col-md-6 text-center">
            <h4>The Installation:</h4>
            <img class="img-fluid" src="./res/christmas_door/install.PNG" alt="video displaying the christmas door decoration">
            <h6>src: Josh Barkovic</h6>
        </div>
    </div>
</div>