<div class="serpuiExplanation">
    <h4>The Backend: </h4>
    <div class="row" style="align-items: center;">
        <div class="col-md-12">
            <a href="https://developers.google.com/custom-search/docs/overview"><img class="external_links" src="./res/serpui/backend/google_developers.svg"></a>
            <a href="https://nodejs.org/en/"><img class="external_links" src="./res/serpui/backend/nodejs.png"></a>
            <a href="https://expressjs.com/"><img class="external_links align-middle" src="./res/serpui/backend/expressjs.png"></a>
        </div>
    </div>
    <h4>The Frontend: </h4>
    <div class="row" style="align-items: center;">
        <div class="col-md-12">
            <a href="https://www.google.com/search?q=javscript+html+and+css"><img class="external_links" src="./res/serpui/frontend/html_js_css.png"></a>
            <a href="https://jquery.com/"><img class="external_links" src="./res/serpui/frontend/jquery.png"></a>
            <a href="https://responsivevoice.org/"><img class="external_links align-middle" src="./res/serpui/frontend/responsivevoice.png"></a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/Gamepad_API/Using_the_Gamepad_API"><img class="external_links align-middle" src="./res/serpui/frontend/gamepadapi.png"></a>
        </div>
    </div>
</div>