.serpuiExplanation img {
    width: 20%;
    border-style: solid;
    border-width: 1px;
    margin: 5%;
    padding: 1%;
    background-color: #FEF9F9;
}

.linkBtn {
    display: block;
    margin: 4%;
}

.carousel-item>img {
    height: 70vh;
}

.sample_pics {
    margin: 3em 0;
}

.external_links {
    width: 100%;
    object-fit: cover;
}

.links {
    margin: 1em 0;
}

.section-rows {
    padding: 3%;
    margin: 8% 0;
    background-color: #FFFFFF;
    /*border-color: blue;
    border-style: solid;
    border-width: 1px; */
    border-bottom: 7px solid red;
}

.btn-nameInfo {
    margin: 2%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.carousel-inner>.carousel-item>img {
    height: inherit;
    width: inherit;
}

/* bio image class */
.float-right {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

/* by ID */

/* #sectionSelector {
    position: sticky;
} */

/* PHONE SETTINGS */

@media screen and (max-width: 600px) {
    #sectionSelector {
      visibility: hidden;
      clear: both;
      float: left;
      /*margin: 10px auto 5px 20px;
      width: 28%;*/
      display: none;
    }
  }